@use 'sass:map';

@use './ref-typeface';

$_default: (
  'ref-typeface': ref-typeface.values(),
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  @return (
    'body-large-font': map.get($deps, 'ref-typeface', 'plain'),
    'body-large-line-height': if($exclude-hardcoded-values, null, 1.5rem),
    'body-large-size': if($exclude-hardcoded-values, null, 1rem),
    'body-large-tracking': if($exclude-hardcoded-values, null, 0.03125rem),
    'body-large-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'body-medium-font': map.get($deps, 'ref-typeface', 'plain'),
    'body-medium-line-height': if($exclude-hardcoded-values, null, 1.25rem),
    'body-medium-size': if($exclude-hardcoded-values, null, 0.875rem),
    'body-medium-tracking': if($exclude-hardcoded-values, null, 0.015625rem),
    'body-medium-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'body-small-font': map.get($deps, 'ref-typeface', 'plain'),
    'body-small-line-height': if($exclude-hardcoded-values, null, 1rem),
    'body-small-size': if($exclude-hardcoded-values, null, 0.75rem),
    'body-small-tracking': if($exclude-hardcoded-values, null, 0.025rem),
    'body-small-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'display-large-font': map.get($deps, 'ref-typeface', 'brand'),
    'display-large-line-height': if($exclude-hardcoded-values, null, 4rem),
    'display-large-size': if($exclude-hardcoded-values, null, 3.5625rem),
    'display-large-tracking': if($exclude-hardcoded-values, null, -0.015625rem),
    'display-large-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'display-medium-font': map.get($deps, 'ref-typeface', 'brand'),
    'display-medium-line-height': if($exclude-hardcoded-values, null, 3.25rem),
    'display-medium-size': if($exclude-hardcoded-values, null, 2.8125rem),
    'display-medium-tracking': if($exclude-hardcoded-values, null, 0rem),
    'display-medium-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'display-small-font': map.get($deps, 'ref-typeface', 'brand'),
    'display-small-line-height': if($exclude-hardcoded-values, null, 2.75rem),
    'display-small-size': if($exclude-hardcoded-values, null, 2.25rem),
    'display-small-tracking': if($exclude-hardcoded-values, null, 0rem),
    'display-small-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'headline-large-font': map.get($deps, 'ref-typeface', 'brand'),
    'headline-large-line-height': if($exclude-hardcoded-values, null, 2.5rem),
    'headline-large-size': if($exclude-hardcoded-values, null, 2rem),
    'headline-large-tracking': if($exclude-hardcoded-values, null, 0rem),
    'headline-large-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'headline-medium-font': map.get($deps, 'ref-typeface', 'brand'),
    'headline-medium-line-height': if($exclude-hardcoded-values, null, 2.25rem),
    'headline-medium-size': if($exclude-hardcoded-values, null, 1.75rem),
    'headline-medium-tracking': if($exclude-hardcoded-values, null, 0rem),
    'headline-medium-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'headline-small-font': map.get($deps, 'ref-typeface', 'brand'),
    'headline-small-line-height': if($exclude-hardcoded-values, null, 2rem),
    'headline-small-size': if($exclude-hardcoded-values, null, 1.5rem),
    'headline-small-tracking': if($exclude-hardcoded-values, null, 0rem),
    'headline-small-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'label-large-font': map.get($deps, 'ref-typeface', 'plain'),
    'label-large-line-height': if($exclude-hardcoded-values, null, 1.25rem),
    'label-large-size': if($exclude-hardcoded-values, null, 0.875rem),
    'label-large-tracking': if($exclude-hardcoded-values, null, 0.00625rem),
    'label-large-weight': map.get($deps, 'ref-typeface', 'weight-medium'),
    'label-large-weight-prominent': map.get($deps, 'ref-typeface', 'weight-bold'),
    'label-medium-font': map.get($deps, 'ref-typeface', 'plain'),
    'label-medium-line-height': if($exclude-hardcoded-values, null, 1rem),
    'label-medium-size': if($exclude-hardcoded-values, null, 0.75rem),
    'label-medium-tracking': if($exclude-hardcoded-values, null, 0.03125rem),
    'label-medium-weight': map.get($deps, 'ref-typeface', 'weight-medium'),
    'label-medium-weight-prominent': map.get($deps, 'ref-typeface', 'weight-bold'),
    'label-small-font': map.get($deps, 'ref-typeface', 'plain'),
    'label-small-line-height': if($exclude-hardcoded-values, null, 1rem),
    'label-small-size': if($exclude-hardcoded-values, null, 0.6875rem),
    'label-small-tracking': if($exclude-hardcoded-values, null, 0.03125rem),
    'label-small-weight': map.get($deps, 'ref-typeface', 'weight-medium'),
    'title-large-font': map.get($deps, 'ref-typeface', 'brand'),
    'title-large-line-height': if($exclude-hardcoded-values, null, 1.75rem),
    'title-large-size': if($exclude-hardcoded-values, null, 1.375rem),
    'title-large-tracking': if($exclude-hardcoded-values, null, 0rem),
    'title-large-weight': map.get($deps, 'ref-typeface', 'weight-regular'),
    'title-medium-font': map.get($deps, 'ref-typeface', 'plain'),
    'title-medium-line-height': if($exclude-hardcoded-values, null, 1.5rem),
    'title-medium-size': if($exclude-hardcoded-values, null, 1rem),
    'title-medium-tracking': if($exclude-hardcoded-values, null, 0.009375rem),
    'title-medium-weight': map.get($deps, 'ref-typeface', 'weight-medium'),
    'title-small-font': map.get($deps, 'ref-typeface', 'plain'),
    'title-small-line-height': if($exclude-hardcoded-values, null, 1.25rem),
    'title-small-size': if($exclude-hardcoded-values, null, 0.875rem),
    'title-small-tracking': if($exclude-hardcoded-values, null, 0.00625rem),
    'title-small-weight': map.get($deps, 'ref-typeface', 'weight-medium')
  );
}
